<%= render 'shared/error', obj: @pet %>
<div class="form_horizontal well" >
<legend>New Pet</legend>
<%= bootstrap_form_for(@pet) do |f| %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.select(:pet_type, options_for_select(Pet::TYPES), {prompt: true}, {class: "form-control"}) %>
      <%= f.text_field :breed, class: "form-control" %>
      <%= f.text_field :age, class: "form-control" %>
      <%= f.text_field :weight, class: "form-control" %>
      <%= f.text_field :last_visit_date, class: "form-control", id: 'datetimepicker_end' %>
      <%= f.collection_select(:customer_id, @customers, :id, :full_name , class: "selectpicker")%>
      
      <div class="form-group col-sm-4">
        <%= f.submit @pet.new_record? ? 'Create Pet' : 'Update Pet', class: 'btn btn-success', id: 'appointment_sub' %>
      </div>
      
<% end %>
</div>

<script>
  $(document).ready(function () {
                //set default value 
                
                $('#datetimepicker_end').datetimepicker({useCurrent: false});
        });
</script>