<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor.try(:name) %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @appointment.pet.try(:name) %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @appointment.pet.try(customer.try(:full_name)) %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @appointment.reminder %>
</p>

<p>
  <strong>Date of visit:</strong>
  <%= @appointment.date_of_visit %>
</p>

<p>
  <strong>Reason for visit:</strong>
  <%= @appointment.reason_for_visit %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
